<html>
    <head>
        <title> Fluent You</title>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css">

    </head>
    <body>
        <div class="ui inverted fixed menu">
            <div class="ui container">
                <div class="header item"> <i class="paper plane outline icon"></i> Fluent You </div>
                <a href="/blogs" class="item"> All Blogs</a>
                <a href="/blogs/new" class="item"> New Post </a>
                <a href="/input" class="item"> Check Your Grammar</a>
                <a href="/vocab" class="item"> Vocabulary Game </a>
                <div class="right menu">
                    <% if(!currentUser){ %>
                    <a href="/register" class="ui item">Sign Up</a>
                    <a href="/login" class="ui item">Login</a>
                    <% }else{ %>
                    <a href="#" class="ui item">Logged in as <%= currentUser.username%></a>
                    <a href="/logout" class="ui item">Logout</a>
                    <% } %>
                </div>

            </div>
        </div>
        <% if(error && error.length > 0 ){ %>
            <div class="ui main text container negative message">
                  <p> <%= error %> </p>
            </div>
        <% } %>
        <% if(success && success.length > 0 ){ %>
            <div class="ui main text container success message">
              <p> <%= success %> </p>
            </div>
        <% } %>


        