<% include partials/header %>

<div class="ui stackable three column grid">
  <div class="column ui main text container segment">
      <h1>game</h1>
  </div>
  <div class="column ui main text container segment">
      <h1>game</h1>
  </div>
  <div class="column ui main text container segment">
      <h1>game</h1>
  </div>
  
</div>
    


<% include partials/footer %>