<% include ./partials/header %>

<div class = "ui main text container segment">
    <div class= "ui huge header">
        <h1>Sign Up</h1>
    </div>
    <form class= "ui form" action="/register" method="post">
        <div class = "field">
            <input type="text" name="username" placeholder="username">
        </div>
        <div class = "field">    
            <input type="password" name="password" placeholder="password">
        </div>
    <button class = "ui primary button">Sign Up</button>
    
</form>

<% include ./partials/footer %>